* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

.container {
    flex: 1;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: #25348a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

input {
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#copyStatus {
    margin-top: 10px;
    color: rgb(0, 105, 0);
}

footer {
    text-align: center;
    background-color: #25348a;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
